.new
  = link_to new_snippet_path, class: 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Paste new

%h2 Dashboad

.mentioned
  %h3=t_wd 'mentioned'
  %ul.unstyled
    - current_user.mentioned_snippets.recent(5).each do |s|
      %li
        = link_to s.code, s, class: :parmalink
        =l s.updated_at
.recent
  %h3=t_wd 'You pastesd'
  %ul.unstyled
    - current_user.snippets.recent(5).each do |s|
      %li
        = link_to s.code, s, class: :parmalink
        =l s.updated_at
