.row
  %ul#snippets.unstyled.span12
    - snippets.each do |snippet|
      %li[snippet]
        = render(partial: 'attr_line', locals: {snippet: snippet})
        %p.description= snippet.description
        %pre.prettyprint
          %code= snippet.body.lines.first(3).join
