@import "bootstrap"

a.user-mini
  background-position: left center !important
  background-repeat: no-repeat !important
  padding-left: 32px !important

table.CodeRay
  margin-bottom: 0

  td.line-numbers
    width: 3em

  td
    padding: 0 0 0 0.5em

    pre, code
      margin: 0
      padding: 0 0 0 0.5em

textarea#snippet_body
  font-family: monospace
  font-size: 14px

.snippet
  h2.attr-line
    font-size: 13px
    background-color: rgb(230, 230, 230)

    a.user-mini
      padding: 5px

  code
    background-color: white

