@import "bootstrap"
$small: 10px
$head_picture : 100px

h1
  margin: 10px

a.user-mini
  background-position: left center !important
  background-repeat: no-repeat !important
  padding-left: 32px !important

span.blank
  font-style: italic
  color: rgb(200, 200, 200)
  font-weight: normal

textarea#snippet_body
  font-size: 14px
  color: black

.attr-line
  font-size: 13px
  background-color: rgb(230, 230, 230)

  a.user-mini
    padding: 5px

  span.timestamp
    font-size: $small
    font-weight: normal

.snippet
  code
    background-color: black
    border: none

.alert
  margin-top: 0.5em

ul#snippets
  li
    margin-bottom: 3em

ul#snippets.nopreview
  li
    margin-bottom: 2px

// /snippets/new & webkit hack
select[name*=filetype]
  height: 27px

p.description
  margin: 1em

.mentions
  ul.inputs-list

    li
      width: 50px
      float: left
      padding: 3px
      margin: 1px
      margin-left: 10px

    input[type="checkbox"]
      margin-left: -18px
      float: left

    li img
      border: 5px solid white

    li.checked img
      border-color: yellow

#drop
  height: 600px
  width: 800px
  margin-left: -400px
  display: none
#preview
  max-width: 800px
  max-height: 600px
  text-align: center
img.eiwakun
  width: 400px
  opacity: 0.3
  border: 2px dashed gray

.pictures
  margin-bottom: 1em

a.picture
  max-width: $head_picture + 2px
  max-height: $head_picture + 2px
  text-align: center
  display: inline-block
  margin: 1px
  border: 1px solid #ccc
  vertical-align: top

  img
    max-height: $head_picture
    max-width: $head_picture

textarea.picture_syntax
  font-family: monospace
  width: 90%
